{% extends "base.html" %}

{% block title %}Sobre{% endblock %}

{% block content %}
    
    <div class="container card-container">
        <div class="row justify-content-center">
            <div class="col-md-12 card-style">
                <h2 class="text-center">Quem somos?</h2>
                            
                <img class="img-fluid img-small mx-auto d-block" src="{{ url_for('static', filename='img/PET.png') }}">                
                
                <p>O Programa de Educação Tutorial (PET) é um programa de comprovada excelência, o qual compromete-se fundamentalmente em aprimorar os cursos de graduação. Trabalha com quatro vertentes principais que são: Ensino, Cultura, Pesquisa e Extensão e forma cidadãos que aprendem durante três anos a trabalhar em equipe, a irradiar para os demais colegas o espírito de liderança e o compromisso com a geração de conhecimento para a solução dos mais diversos problemas. É o único programa institucional voltado para graduação que trabalha no formato de grupo interdisciplinar, ancorado em alunos e professores e que recebe avaliação institucional e não individual.</p>

                <p>As normas operacionais do PET estão estabelecidas no documento de Orientações Básicas do Programa, que define como objetivos principais: oferecer uma formação acadêmica de excelente nível, visando a formação de um profissional crítico e atuante; promover a integração da formação acadêmica com a futura atividade profissional, especialmente no caso da carreira universitária; estimular a melhoria do ensino de graduação formando jovens bilingües, versáteis, de iniciativa, de expressão oral e argumentação, capazes também de fazer contatos, administrar o tempo e as tarefas. Nas Orientações Básicas do PET estão também estabelecidas características que incluem: formação acadêmica ampla; atuação coletiva; interação contínua entre bolsistas e corpos docente e discente; implementação de ações voltadas para a comunidade; planejamento e execução de um programa com atividades diversificadas.</p>

                <p>Cada grupo PET conta com um conjunto de alunos bolsistas, um professor-tutor, vários professores colaboradores e, muitas vezes, conta ainda com alunos voluntários que ajudam nas atividades do grupo. A renovação dos bolsistas é feita anualmente por meio de processo seletivo rigoroso, quando da saída daqueles que concluem a graduação. </p>
            </div>
        </div>
    </div>

{% endblock %}