<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>{{ title }} - Índice de Evasão</title>
    {% else %}
        <title>Bem vindo ao Índice de Evasão</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link {{ 'active' if request.path == url_for('index') else '' }}" href=" {{ url_for('index') }}">Home</a>
                <a class="nav-item nav-link {{ 'active' if request.path == url_for('index') else '' }}" href=" {{ url_for('index') }}">Sobre</a>
                {% if not current_user.is_anonymous %}
                    <a class="nav-item nav-link" href=" {{ url_for('logout') }}">Logout</a>
                {% endif %}
              </div>
            </div>
          </nav>     
    {% endblock %}

    <div class="container">
        {% block content %}
        {% endblock %}    
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</body>
</html>