<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %} - Ind_Ev</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <!-- chartjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
    
</head>
<body>

    {% include "components/navbar.html" %}

    {% include "components/header.html" %}

    <div class="container">
        {% block content %}
        {% endblock %}    
    </div>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- font awesome icons -->
    <script src="https://kit.fontawesome.com/5870b5524d.js" crossorigin="anonymous"></script>   

    <!-- chartjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        var x = $('#answers_values_x').data();
        var y = $('#answers_values_y').data();

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: x['x'],
                datasets: [{
                    label: 'Número de Votos',
                    data: y["y"],
                    barPercentage: 0.5,
                    // barThickness: 6,
                    // maxBarThickness: 8,
                    // minBarLength: 2,                    
                    backgroundColor: [
                        'rgba(255, 50, 50, 1)',
                        'rgba(0, 255, 0, 1)',
                        'rgba(0, 0, 255, 1)',
                        'rgba(100, 255, 150, 1)',
                        'rgba(0, 191, 255, 1)',
                        'rgba(128, 0, 255, 1)',
                        'rgba(191, 255, 0, 1)',
                        'rgba(255, 128, 0, 1)',
                        'rgba(0, 255, 255, 1)',
                        'rgba(255, 0, 191, 1)',
                        'rgba(64, 0, 255, 1)',                                             
                        
                    ],
                    borderColor: [
                        'rgba(255, 0, 0, 1)',
                        'rgba(0, 255, 0, 1)',
                        'rgba(0, 0, 255, 1)',
                        'rgba(255, 128, 0, 1)',
                        'rgba(0, 191, 255, 1)',
                        'rgba(128, 0, 255, 1)',
                        'rgba(191, 255, 0, 1)',
                        'rgba(255, 128, 0, 1)',
                        'rgba(0, 255, 255, 1)',
                        'rgba(255, 0, 191, 1)',
                        'rgba(64, 0, 255, 1)',    
                    ],
                    borderWidth: 0.5
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>    

</body>
</html>