{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Sistema de formulário do projeto <code>Ind_Ev</code></h1>

    <div class="container card-container">
        {% if current_user.is_anonymous %}
            <div class="row justify-content-center">
                <div class="col-md-5 card-style">
                    {% include "register.html" %}
                </div>
                <div class="col-md-1">
                </div>                
                <div class="col-md-5 card-style">
                    {% include "login.html" %}            
                </div>
            </div>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock content %}