{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}

    <div class="container card-container">
        {% if current_user.is_anonymous %}

            <div class="row justify-content-center">
                <div class="col-md-5 card-style">
                    {% include "auth/register.html" %}
                </div>
                <div class="col-md-1">
                </div>                
                <div class="col-md-5 card-style">
                    {% include "auth/login.html" %}
                </div>
            </div>

        {% else %}

            <div class="row justify-content-center mb-5">
                <div class="col-md-5 card-style">    
                    {% include "profile.html" %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 card-style">
                    {% include "answers.html" %}   
                </div>
            </div>
        
        {% endif %}
    </div>

{% endblock content %}